@import "tailwindcss";

@theme {
  --color-primary: #1ab788;
  --color-primary-dark: #128a66;
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
}
@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
